$black: #000000;
$white: #ffffff;
$eke-black-100: #18181b;
$eke-green-100: #006634;
$eke-grey-100: #4d5e80;
$eke-grey-150: #f2f3f5;
$eke-grey-200: #7d8fb3;
$eke-grey-300: #f5f6f7;
$eke-grey-400: #c3cad9;
$eke-grey-500: #edeff2;
$eke-grey-550: #f8f8f8;
$eke-grey-600: #f7f8fa;
$eke-grey-700: #6b7a99;
$eke-grey-800: #adb8cc;
$eke-grey-900: #fafbfc;
$eke-red-100: #e62e7b;
$eke-red-200: #e62e2e;
$eke-blue-100: #3361ff;
$eke-blue-200: #6688ff;
$eke-blue-300: #33bfff;
$eke-orange-100: #ff6633;
$eke-orange-200: #ff982b;
$eke-yellow-100: #ffcb33;
$eke-input-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
