@import '@/styles/color.scss';

.container {
	display: flex;
	font-weight: 400;
	font-size: 0.875rem;
}

.activeClassName {
	border-radius: 9999px;
	background: $eke-green-100;
	color: $white;
}

.pageClassName {
	padding: 0 0.5rem;
}

.previousClassName {
	padding-right: 0.5rem;
	color: $black;
}

.nextClassName {
	padding-left: 0.5rem;
	color: $black;
}

.disabledClassName {
	& > a > svg {
		cursor: not-allowed;
		opacity: 0.3;
	}
}
